<p id="notice"><%= notice %></p>

<h1>Sc Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sc_products.each do |sc_product| %>
      <tr>
        <td><%= sc_product.name %></td>
        <td><%= sc_product.price %></td>
        <td><%= link_to 'Show', sc_product %></td>
        <td><%= link_to 'Edit', edit_sc_product_path(sc_product) %></td>
        <td><%= link_to 'Destroy', sc_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sc Product', new_sc_product_path %>
